@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Spartan", sans-serif;
  display: flex;
  background-color: #e8eaf1;
}
button {
  font-family: "Spartan", sans-serif;
}
.title {
  font-size: 25px;
  color: #333;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 1024px;
  padding: 0 10px;
  margin: auto;
}
section {
  padding: 2rem 10px;
}
.aside-bar {
  background-color: #fff;
  height: 100vh;
  width: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
}
.aside-bar .logo {
  font-size: 35px;
  color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aside-bar ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
  width: 100%;
}
.aside-bar ul li {
  list-style: none;
  cursor: pointer;
}
.aside-bar .copy {
  transform: rotate(-90deg);
  margin-bottom: 20px;
  font-size: 14px;
}
.aside-bar ul li a {
  color: #666666;
}
.aside-bar ul li .active,
.aside-bar ul li:hover a {
  color: royalblue;
}
.aside-bar .icon {
  font-size: 25px;
}

main {
  margin-left: 85px;
  height: 100vh;
  width: 100%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.social-link {
  font-size: 25px;
  color: royalblue;
  margin: 10px;
  padding: 5px;
  border: 1px solid royalblue;
  border-radius: 50%;
}
.resume a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: royalblue;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-icon {
  font-size: 22px;
  margin-right: 10px;
  color: #fff;
}
.resume a:hover {
  transform: scale(0.95);
}
.home .content {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .content .name {
  font-size: 42px;
  color: #333;
  font-weight: 600;
  margin: 10px 0;
  color: #333;
}
.home .content .title {
  font-size: 22px;
  color: #333;
  font-weight: 400;
}
.home .content .img {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  margin-bottom: 20px;
}
.home .content .img img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* About */

.about .wraper {
  display: flex;
  gap: 40px;
}
.about .wraper .img {
  flex: 1;
}
.about .wraper .img img {
  border-radius: 50%;
}
.about .wraper .content {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  column-gap: 40px;
}
.about .left {
  flex: 1;
}
.about .left p {
  line-height: 25px;
}
.about .hire-btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: royalblue;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.3s ease;
}
.about .hire-btn:hover {
  transform: scale(0.95);
}
.about .right {
  flex: 1;
}
.about .right ul {
  list-style: none;
}
.about .right li {
  margin-bottom: 20px;
}
.about .right li .skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}
.about .right ul li:nth-child(1) .progress {
  width: 80%;
  background-color: salmon;
}
.about .right ul li:nth-child(2) .progress {
  width: 60%;
  background-color: royalblue;
}
.about .right ul li:nth-child(3) .progress {
  width: 70%;
  background-color: seagreen;
}
.about .right ul li:nth-child(4) .progress {
  width: 80%;
  background-color: violet;
}
.about .right ul li:nth-child(5) .progress {
  width: 90%;
  background-color: tomato;
}
.about .right li .skill .name {
  color: #333;
  font-size: 16px;
}
.about .right li .skill .number {
  font-size: 14px;
  color: #525252;
}
.about .progress-bar {
  height: 5px;
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
}
.about .progress-bar .progress {
  height: 100%;
  border-radius: inherit;
  width: 70%;
  background-color: royalblue;
}
/* project */
.projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.projects .content .card {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.projects .content .card .img {
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.projects .content .card img {
  object-fit: cover;
  object-position: 0 0;
  transition: 0.3s;
}
.projects .content .card img:hover {
  transform: scale(1.03);
}
.projects .content .card a {
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  background-color: royalblue;
  color: #fff;
  border-radius: 2px;
  transition: 0.3s;
  font-size: 10px;
  z-index: 5;
}
.projects .content .card .more {
  position: absolute;
  color: #333;
  right: 10px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
}
.projects .content .card .more i {
  transform: rotate(-90deg);
}
.projects .content .card.active .info {
  top: 0;
  left: 0;
}

.projects .content .card .more i:hover {
  transform: scale(1.2) rotate(-90deg);
  transition: 0.5s ease;
}
.projects .content .card .info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: -100%;
  left: -100%;
  border-radius: inherit;
  transition: 0.3s;
  padding: 10px;
}
.projects .content .card .info .header {
  display: flex;
  justify-content: space-between;
}
.projects .content .card .info .header .close {
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
.projects .content .card .info h2 {
  font-size: 18px;
  color: royalblue;
  margin-bottom: 20px;
}
.projects .content .card .info li {
  font-size: 14px;
  color: #333;
  margin-left: 17px;
}
.projects .content .card a:hover {
  background-color: #2352e0;
}
/* language */
.language .wraper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.language .wraper .card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.language .wraper .card img {
  object-fit: cover;
  height: 100px;
  width: 100px;
}
/* Contact */

.contact .warper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact .warper img {
  height: 250px;
}

.contact .warper form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.contact .warper form .form-group {
  display: flex;
  width: 100%;
  column-gap: 10px;
  justify-content: space-between;
}
.contact .warper form input,
.contact .warper form textarea {
  border-radius: 5px;
  outline: none;
  height: 40px;
  width: 100%;
  border: none;
  padding: 0 10px;
  font-family: "Spartan", sans-serif;
  font-size: 17px;
  color: #333;
}
.contact .warper form textarea {
  height: 150px;
  padding: 10px;
  resize: none;
}
.contact .warper form button {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: royalblue;
  color: #fff;
  border-radius: 5px;
  width: 150px;
  transition: 0.3s;
  font-size: 16px;
}
.contact .warper form button:hover {
  transform: scale(0.95);
}

/* Responsive */
@media screen and (max-width: 678px) {
  .home .content .name {
    font-size: 25px;
  }
  .about .wraper .content {
    flex-direction: column;
    gap: 40px;
  }
  .about img {
    transform: scale(0.8);
  }
  .about .wraper {
    flex-direction: column;
    gap: 40px;
  }

  .contact .warper {
    display: block;
  }
  .contact .warper form {
    margin-top: 20px;
  }
  .aside-bar {
    flex-direction: row;
    padding: 0;
    height: 50px;
    width: 100%;
    bottom: 0;
    width: 100%;
    top: auto;
  }
  .aside-bar .logo {
    display: none;
  }
  .aside-bar .copy {
    display: none;
  }
  .aside-bar nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  main {
    margin: 0;
  }
  /* projects */
  .projects .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* contact */
  #contact {
    padding-bottom: 60px;
  }
  /* sidebar */
  .aside-bar ul {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
